*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-size: 15pt;
    background: #E7F5FF;
    margin: 0px;
    padding:0px;
}

.heading
{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 10px;
    border-radius: 10px;
    padding-left: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px #C9C9C9;
    border-right: 1px solid black;
}
.p-tag{
    padding: 0px;
    margin-top: 4px;
    padding-left: 8px;
    padding-right: 10px;
    margin-left: 15px;
    color: #000000;
    background: #FFFFFF;
    border-left: 6px solid black;
}

.text{
    width: fit-content;
}

.product-wrapper{
    scroll-behavior: smooth;
    max-width: 90%;
    margin-top: 15px;
    margin-bottom: 0px;
    overflow: hidden;
    justify-self: center;
    border-radius: 15px 15px 2px 2px;
    box-shadow: 0px 0px 8px #9F9F9F;
}

.image{
    object-fit: cover;
    display: block;
}

.scroll{
    width: 100%;
    background: red;
}

.inner{
    display: flex;
    animation: scrollAnimation 15s linear infinite alternate;
}

@keyframes scrollAnimation {
    100%{
        transform: translateX(-1620px);
    }
}

.Name-wrapper{
    width: 90%;
    justify-self: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: red;
    overflow: hidden;
    background:#EAEAEA;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 10px #9F9F9F, inset 0px 0px 10px #BABABA;
}

.Name-wrapper h3{
    margin-top: 10px;
    padding: 3px;
    text-align: center;
    background: white;
    box-sizing: border-box;
}

.Name-wrapper p{
    padding: 8px;
    margin: 0px;
    font-size: 12pt;
    font-family: "Averia Libre", system-ui;
}

.anothor-wrapper{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: white;
}

.business-btn{
    text-align: center;
    font-size: 16pt;
    font-family: "Averia Libre", system-ui;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none;
    background: #00E785;
    color: white;
    padding: 8px;
}

.fa-whatsapp{
    font-size: 18pt;
    font-weight: 600;
}
